<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healing Meals Signup</title>

     <!-- Materialize CSS and Icons-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

     <link rel="stylesheet" href="/stylesheets/indexStyle.css">
</head>
<body>

    <img src="https://www.healthbarnfoundation.org/wp-content/uploads/2014/02/HealingMealsLogo_Final021.png">
    <!-- Actual page content! -->
    <div class="container">
        <h1>HealthBarn Foundation</h1>
        <h2>Healing Meals: Volunteer Signup</h1>
            <a class="btn" href="/admin">
                <i class="material-icons right">arrow_forward</i>
                Admin Login
            </a>
            <br>
                <a class="btn" href="/main">
                    <i class="material-icons right">arrow_forward</i>
                    Get started, Volunteer!
                </a>
            </br>
    </div>
</body>
</html>